*{
    margin: auto;
    padding: 0%;
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
    
}

body {
    background-color: grey;
}

header {
    background-color:#333;
    margin-bottom: 0.4rem;
}

footer {
    background-color: #333;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;;
}
img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 30px;
    border: 2px solid black;
    padding: 0px 5px 5px;
}

.joey-blurb {
    color: white;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif ;
}

ol, ul {
    color: blue;
}

p {
    font-weight: bold;
}

.footer-text {
    color: grey;
}


a {
    color: white;
    padding-right: 1.2rem;
}

.grid-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 70%;
    gap: 10px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.grid {
    font-size: 30px;
    padding: 30px;
    border: 2px solid black;
}